<header class="container">
  <h2 class="fas fa-address-card"> DADOS ALUNOS </h2>
</header>

<div class="container">

  <table class='table table-striped table-bordered'>
    <thead class="table-info">
      <tr>
        <th><b>Nome</b></th>
        <th><b>RU</b></th>
        <th><b>Curso</b></th>
        <th><b>Data de Nascimento</b></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor=" let aluno of lista_alunos">
        <tr>
          <td>{{ aluno.nome }} </td>
          <td> <span style="color: blue">{{ aluno.ru }}</span> </td>
          <td>{{ aluno.curso }} </td>
          <td>{{ aluno.dt_nascimento }} </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<footer>
  
</footer>