<header class="container">
  <h1 class="fas fa-address-card"> DADOS ALUNOS </h1>
</header>

<div class="container">

  <!-- Bootstrap - Mostra as bordas da tabela e da realce a linha ao passar o mouse -->
  <table class='table table-bordered table-hover'> 
    <!-- Bootstrap - Cabeçalho da tabela na cor azul-claro-->
    <thead class="table-info"> 
      <tr>
        <th><b>Nome</b></th>
        <th><b>RU</b></th>
        <th><b>Curso</b></th>
        <th><b>Data de Nascimento</b></th>
      </tr>
    </thead>
    <tbody>
      <!--For loop em "Alunos" com os dados do array "lista_alunos" -->
      <ng-container *ngFor=" let aluno of lista_alunos"> 
        <tr>
          <td> {{ aluno.nome }} </td> 
          <td> {{ aluno.ru }} </td>
          <td> {{ aluno.curso }} </td>
          <td> {{ aluno.dt_nascimento }} </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<footer>
  <!-- Link para os arquivos no GitHub -->
  <p>Atividade Prática - Ferramentas de Desenvolvimento WEB - Link para a atividade 
    <a href="https://github.com/sizanosky/AtividadePraticaFDWeb.git"> GitHub</a>
  </p>
</footer>
